.wrapper{

 display: grid;
 grid-template-columns: repeat(3,1fr);

}

.header{

display: grid;

background-color: aquamarine;

height: 200px;

grid-column-start: 1;

grid-column-end: 6;

grid-row-start: 1;
}

.searchBar {

display: grid;

background-color:cornflowerblue;

grid-template-rows: 1fr;

grid-template-columns: 1fr;

grid-column-start: 2;

grid-column-end: 4;

}


.adminLogin{

display: grid;

background-color:aqua;

grid-template-rows: 1fr;

grid-column-start: 2;

grid-column-end: 4;




}

.adminPic{

display:grid;

background-color:crimson;

grid-row-start: 1;

grid-column-start: 4;

grid-column-end: 6;

}


.adminButtons{

display: grid;

background-color:cadetblue;

grid-column-start: 4;

grid-column-end: 6;

}



.sideBar{

display: grid;

background-color:darkgoldenrod;

width: 50%;


height: 800px;

grid-column-start: 1;

grid-row-start: 1;


}





.bodyContent{

display: grid;

background-color:darkgreen;

height: 250px;

grid-column-start: 2;


grid-row-start: 2;

grid-row-end: 4;

}

.yourProjects{


display: grid;

background-color:fuchsia;

grid-column-start: 2;

}