.wrapper{

 display: grid;
 grid-template-columns: repeat(3,1fr);

}

.name{

  font-size:x-large;

  font-weight:bolder;

  padding-left: 50px;

}


.header{

display: grid;

background-color: whitesmoke;

height: 200px;



grid-column-end: 6;

grid-row-start: 1;
}

.searchBar {

display: grid;

background-color: whitesmoke;

grid-template-rows: 1fr;

grid-template-columns: 1fr;

grid-column-start: 2;

grid-column-end: 4;

}

.searchTogether{

display: grid;

align-content: center;

justify-items: center;

grid-auto-flow: column;

gap: 0px;

}


input[type=text] {

padding-right: 200px;

 border: none;


 font-size: 20px;


}



.bell{

display: grid;

align-items: center;

justify-items: center;

grid-auto-flow: column;


}

.adminPicAndName{

    display: flex;

  align-items: center;



}


.adminLogin{

display: grid;

background-color: whitesmoke;

grid-template-rows: 1fr;

grid-column-start: 2;

grid-column-end: 4;



}

.adminGreeting{

font-size:x-large;

font-weight:bolder;



}




.adminFace{

    display: flex;
    align-items: center;
    
    }
    


.adminPic{

display:grid;

background-color: white;

grid-row-start: 1;

grid-column-start: 4;

grid-column-end: 6;

}


.adminButtons{

display: inline-flex;

align-items: center;

background-color:white;

grid-column-start: 4;

grid-column-end: 6;

}


.adButtons{

display: inline-grid;

justify-items: center;

margin-left: 150px;

border: none;

color: white;

border-radius: 50px;

text-align: center;

text-decoration: none;

font-size: 20px;

cursor: pointer;

background-color:dodgerblue;


}




.sideBar{

margin-top: 50px;

display: grid;

background-color:dodgerblue;


height: 800px;

grid-column-start: 1;

grid-row-start: 1;


}


.projects{

display: grid;

grid-column-start: 1;

justify-items:last baseline;

padding-right: 80px;

font-weight: bolder;

font-size:x-large;

}


.dashBoard{

display: flex;

background-color: dodgerblue; 

align-items:center;



}

.dash{

font-size:x-large;

font-weight:bolder;


}



.home{

display: flex;

background-color:dodgerblue;

align-items:center;

}

.house{

font-size: xx-large;

font-weight:bolder;


}



.profile{

display: flex;

background-color:dodgerblue;

align-items:center;

}

.person{

font-size:xx-large;

font-weight:bolder;


}




.messages{

display: flex;

background-color: dodgerblue;

align-items:center;
    
}


.mail{

font-size:xx-large;

font-weight:bolder;


}




.history{

display: flex;

background-color:dodgerblue;

align-items:center;


}

.time{

font-size:xx-large;

font-weight:bolder;

}



.tasks{

    display: flex;

    background-color:dodgerblue;

    align-items:center;

}

.calendar{

font-size:xx-large;

font-weight:bolder;

}



.communities{

display: flex;

background-color:dodgerblue;

align-items:center;


}


.people{

  font-size:xx-large;

  font-weight:bolder;


}


.space{

display: grid;

height: 20px;

}




.settings{

display: flex;

background-color: dodgerblue;

align-items:center;


}

.gear{

font-size:xx-large;

font-weight:bolder;

}



.support{

display: flex;

background-color:dodgerblue;

align-items:center;


}


.tech{

font-size:xx-large;

font-weight:bolder;


}


.privacy{

display: flex;

background-color: dodgerblue;

align-items:center;

}


.lock{

font-size:xx-large;

font-weight:bolder;


}


.bodyContent{

  
margin-top: 250px;

display: grid;

background-color:lightgray;

height: 800px;

grid-column-start: 1;

grid-column-end: 6;

grid-row-start: 1;

grid-row-end: 6;

}


.yourProjects{

 display: grid;

 grid-template-columns: repeat(3, 1fr);

 background-color: lightgray;

 grid-column-start: 3;

 grid-column-end: 6;

 grid-row-start: 2;

 grid-row-end: 6;


}


.superProject{

display: grid;

grid-column-start: 1;

grid-column-end: 1;

background-color:whitesmoke;

row-gap: 50px;

height: 195px;


}

.coolProject{

display: grid;

grid-column-start: 2;

grid-column-end: 2;

column-gap: 20px;

background-color: white;

height: 195px;
}


.impossibleApp{

display: grid;

grid-row-start: 2;

grid-row-end: 3;

background-color: whitesmoke;

height: 195px;



}

.easyBreezyApp{

display: grid;

grid-column-start: 2;

grid-row-start: 2;

grid-row-end: 4;

background-color: white;

height: 195px;


}

.adBlocker{

display: grid;

grid-row-start: 3;

grid-row-end: 4;

background-color: white;

height: 200px;

}

.moneyMaker{

display:grid;

grid-column-start: 2;

grid-row-start: 3;

grid-row-end: 4;

background-color: white;

height:200px;

}

.announcements{

display: grid;

margin-top: 45px;

grid-column-start: 5;

grid-row-start: 2;

padding-right: 20px;

background-color:whitesmoke;

height: 250px;


}

.siteMain{

display: flex;

background-color: whitesmoke;


}


.shareDay{

display: flex;

background-color:white;

}

.policy{


display: flex;

background-color: whitesmoke;



}

.trending{

display: grid;

grid-column-start: 5;

grid-row-start: 3;

background-color:whitesmoke;

height: 300px;

}


.tegan{

display: flex;

background-color: whitesmoke;


}

.morgan{

display: flex;

background-color: whitesmoke;


}

.kendall{

display: flex;
background-color: white;


}


.alex{

display: flex;

background-color: whitesmoke;


}



h2{

font-weight:bolder;


}

.text{

display:block;

align-items: center;


}
